*.pyc
*.pyo
*.swp
*~

**/__pycache__

*.log
*.ini
*.wav
*.mp3
*.parquet

# Modèles wakeword
wakeword-models/
models/*.tflite
models/*.onnx

# Données d'entraînement
data/

# Virtual environments
env
venv

# Env Vars
.env*
# pixi environments
.pixi
