./pkgs/snips_entities/snips_nlu_city_fr-0.2.0.tar.gz 
./pkgs/snips_entities/snips_nlu_country_fr-0.2.0.tar.gz
./pkgs/snips_entities/snips_nlu_region_fr-0.2.0.tar.gz
./pkgs/snips_entities/snips_nlu_musicalbum_fr-0.2.1.tar.gz
./pkgs/snips_entities/snips_nlu_musicartist_fr-0.2.1.tar.gz
./pkgs/snips_entities/snips_nlu_musictrack_fr-0.2.1.tar.gz
snips-nlu==0.20.2
sounddevice==0.4.1
SoundFile==0.10.3.post1
paho-mqtt==1.5.1
vosk==0.3.27
webrtcvad==2.0.10